aiofiles==0.6.0
anyio==3.6.1
click==7.1.2
cycler==0.11.0
et-xmlfile==1.1.0
fastapi==0.78.0
fonttools==4.33.3
h11==0.13.0
httptools==0.4.0
idna==3.3
jdcal==1.4.1
Jinja2==2.11.2
kiwisolver==1.4.3
MarkupSafe==2.1.1
matplotlib==3.5.2
numpy==1.22.4
openpyxl==3.0.4
packaging==21.3
pandas==1.4.2
Pillow==9.1.1
pydantic==1.9.1
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==0.20.0
python-multipart==0.0.5
pytz==2022.1
PyYAML==6.0
six==1.16.0
sniffio==1.2.0
starlette==0.19.1
tabulate==0.8.9
typing_extensions==4.2.0
uvicorn==0.12.3
uvloop==0.16.0
watchfiles==0.15.0
websockets==10.3
